@import "../../index.scss";

// // Smartphones
// @media (max-width: 767px) {}

// // Tablets
// @media (min-width: 768px) and (max-width: 1024px) {}

// // Desktop
// @media (min-width: 1025px) {}

// HERO SECTION

.hero {
  width: 100%;
  height: 60vh;
  background-color: $contrast-background-light;

  .container {
    padding: 1rem;
    width: 80%;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;

    .tagline {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .heading {
      text-align: left;
      font-size: 4rem;
      color: $color-light;
      font-weight: bold;
      font-family: $section-header-font;
      text-transform: capitalize;
      letter-spacing: 0.2rem;
    }

    .body {
      display: inline-block;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: grey;
    }

    .link {
      display: inline-block;
      margin-top: 2rem;
      margin-left: 0;
      font-size: 1.2rem;
      transition: all 0.7s ease-in-out;

      &:hover {
        margin-left: 2rem;
      }
    }

    img {
      flex: 1;
      width: 100%;
      object-fit: contain;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
  }
}

// Smartphones
@media (max-width: 767px) {
  .hero {
    .container {
      width: 100%;

      .tagline {
        text-align: center;
        align-items: center;

        .heading {
          font-size: 2rem;
        }
      }

      img {
        display: none;
      }
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    height: fit-content;

    .container {
      width: 100%;
      flex-direction: column;

      .tagline {
        align-items: center;
        margin-bottom: 2rem;
      }

      img {
        width: 50%;
        place-self: center;
      }
    }
  }
}

// Desktop
@media (min-width: 1025px) {
}

// SERVICES SECTION
.services {
  width: 80%;
  height: fit-content;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;

  .service {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .icon {
      width: 5rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 0.1rem solid grey;
      border-radius: 50%;
      color: $color-light;
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      box-shadow: 0 0 0.1rem $contrast-background-light;
    }

    .name {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 1.8rem;
      color: grey;
    }

    .body {
      text-align: center;
      font-size: 0.9rem;
      color: grey;
      letter-spacing: 0.1rem;
    }
  }
}

// Smartphones
@media (max-width: 767px) {
  .services {
    width: 98%;
    flex-direction: column;

    .service {
      width: 80%;
      align-self: center;
      margin: 2rem 0;

      .name {
        font-size: 1.5rem;
      }

      .body {
        font-size: 0.8rem;
      }
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .services {
    width: 98%;

    .service {
      width: 30%;
    }
  }
}

// Desktop
@media (min-width: 1025px) {
}

// ABOUT US SECTION
.about {
  position: relative;
  width: 70%;
  height: fit-content;
  margin: 4rem auto;

  .aboutImage {
    width: 60%;
    height: 100%;
  }

  .details {
    position: absolute;
    top: 10%;
    right: 20%;
    width: 40%;
    height: 60%;
    padding: 2rem;
    background-color: $contrast-background-light;
    color: grey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px grey;

    h1 {
      margin: 1rem 0;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-size: 2.8rem;
      color: black;
    }

    p {
      margin-top: 1.2rem;
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
    }
  }
}

// Smartphones
@media (max-width: 767px) {
  .about {
    width: 98%;

    .aboutImage {
      width: 80%;
      height: 100%;
    }

    .details {
      top: 10%;
      right: 5%;
      width: 60%;
      height: 80%;

      h1 {
        margin: 1rem 0;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 1.4rem;
        color: black;
      }

      p {
        margin-top: 0.8rem;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
      }
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .about {
    width: 80%;

    .aboutImage {
      width: 90%;
      height: 100%;
    }

    .details {
      top: 5%;
      right: 5%;
      width: 60%;
      height: 60%;
    }
  }
}

// Desktop
@media (min-width: 1025px) {
}

// TOP BOOKS SECTION

.topbooks {
  width: 80%;
  margin: 2rem auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .sectionHeading {
    margin: 1rem 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2.8rem;
  }

  .books {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;

    .card {
      width: 25%;
      height: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      .cardImage {
        width: 100%;
        height: 100%;
        background-color: $contrast-background-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 70%;
          height: 80%;
          object-fit: auto;
        }
      }

      .cardInfo {
        height: fit-content;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.3rem;
          letter-spacing: 0.1rem;
        }

        .price {
          font-weight: 700;
          font-size: 0.9rem;
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 767px) {
  .topbooks {
    width: 98%;

    .sectionHeading {
      font-size: 1.5rem;
      align-self: center;
    }

    .books {
      flex-direction: column;
      align-items: center;

      .card {
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .topbooks {
    width: 98%;

    .sectionHeading {
      font-size: 2.3rem;
    }

    .books {
      justify-content: space-around;
    }
  }
}

// Desktop
@media (min-width: 1025px) {
}

// CATEGORIES SECTION
