@import '../../index.scss';

// NAVBAR COMPONENT
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  color: $color-light;
  background-color: $color-background-light;
  height: 5rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
  box-shadow: .1rem .1rem 1rem $contrast-background-light;

  // Utility class - Helps us group nav items
  .group {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;

    li {
      list-style: none;
    }
  }

  // Utitlity class - Groups nav items for special slider effect
  .navOption {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: $color-light;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1.5px;
      transition: width .8s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  // CART navbar item
  .cart {
    font-size: 1.8rem;
    display: inline-block;
    transition: all .8s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  // Logo
  .brand {
    flex: 1;
    font-family: $brand-logo-font;
    height: 100%;
    letter-spacing: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  // Button to open dropdown component
  .openDropdown {
    font-size: 2rem;
    font-weight: bold;
    align-self: baseline;
  }
}

// DROPDOWN COMPONENT
.dropdown {
  display: flex;
  padding: 1rem;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid $contrast-background-light;
  box-shadow: .1rem .4rem 2rem $contrast-background-light;
  border-bottom-right-radius: 6rem;
  margin-bottom: 1rem;

  // Button to close dropdown component.
  .closeDropdown {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  li {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
  }

  // Utility class - used to group dropdown items for special effect
  .items {
    padding: 0;
    transition: all .8s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}


// BREAKPOINTS

// Smartphones
@media (max-width: 767px) {
  .navbar {
    .brand {
      font-size: 2.2rem;
    }

    .pages {
      display: none;
    }

    .preferences {
      display: none;
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    .brand {
      font-size: 2.8rem;
    }

    .pages {
      display: none;
    }
  }

  .dropdown {
    .preferences {
      display: none;
    }
  }
}

// Desktop
@media (min-width: 1025px) {
  .navbar {
    .brand {
      font-size: 3rem;
    }

    .openDropdown {
      display: none;
    }
  }
}