@import '../../index.scss';

// FOOTER COMPONENT
.footer {
  display: block;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  position: relative;
  // bottom: 0;
  border: 1px solid $contrast-background-light;
  box-shadow: .1rem -1rem 1rem $contrast-background-light;

  // Utility class - used to group the body of the footer
  .container {
    width: 70%;
    margin: 0 auto;

    .divider {
      color: grey;
    }

    .copyright {
      font-size: .9rem;
      font-weight: 300;
      font-style: italic;
    }
  }

  // Utility class - used to organize the information on the footer
  .content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;

    // Utility class - used to group elements for special CSS effect
    .move {
      display: inline-block;
      margin-left: 0;
      transition: margin-left .8s ease-in-out;

      &:hover {
        margin-left: 2rem;
      }
    }

    // Utility class - used to group icons on the footer
    .icons {
      display: flex;
      width: 60%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      place-self: start;

      a {
        font-size: 1.8rem;
        color: grey;
        transition: transform .8s ease-in-out;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    // Styling all unnamed sections of the footer.
    div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1rem 2rem 2rem;
    }
  }

  // Logo
  .brand {
    font-size: 2.5rem;
    font-weight: 500;
    color: $color-light;
    font-family: $brand-logo-font;
  }

  // section headings on footer
  .heading {
    text-transform: uppercase;
    font-size: 1rem;
  }

}

//BREAKPOINTS

// Smartphones
@media (max-width: 767px) {
  .footer {
    .content {
      flex-direction: column;
    }
  }
}

// Tablets
@media (min-width: 768px) and (max-width: 1024px) {
  .footer {
    .container {
      width: 85%;
    }
  }
}

// Desktop
@media (min-width: 1025px) {}