@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

    // color: #213547;
    // background-color: #ffffff;
    // background-contrast: #f3f3f3

$color-light: #213547;
$color-background-light: #ffffff;
$contrast-background-light: #f3f3f3;

$brand-logo-font: "Courgette", cursive;

// // Smartphones
// @media (max-width: 767px) {}

// // Tablets
// @media (min-width: 768px) and (max-width: 1024px) {}

// // Desktop
// @media (min-width: 1025px) {}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  // color-scheme: light dark;
  // color: rgba(255, 255, 255, 0.87);
  // background-color: #242424;
  color: $color-light;
  background-color: $color-background-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

// body {
//   margin: 0;
// }

a {
  text-decoration: none;
  color: $color-light;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
